.app-list {
    border-radius: 5px;
    border-color: #56eef4;
    border-style: solid;
    background-color: white;
}

.app-list th {
    vertical-align: middle;
}

.app-list td {
    vertical-align: middle;
}
