@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
}

.app-page {
    height: 100%;
}

.page-body {
    height: 100%;
    overflow: auto;
    background-color: #5438dc;
}

p {
    font-size: 20px;
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 0 auto;
    max-width: 600px;
    overflow: auto;
    text-align: center;
    background-color: #f1f0cc;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.form input {
    display: block;
    width: 100%;
    height: 25px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.table thead tr th {
    background-color: rgb(189, 189, 189);
}

.app-list {
    border-radius: 5px;
    border-style: solid;
    border-color: #61a0af;
    background-color: white;
}

.app-list th {
    vertical-align: middle;
}

.app-list td {
    vertical-align: middle;
}

.textalign-left {
    text-align: left;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
